<a href="https://colab.research.google.com/github/roh203/Bioethanol-production-predictor/blob/main/mill1_91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from tensorflow.keras.models import load_model
new_model = load_model('/content/BiEt.h5')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
new_model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 8)                 72

 dense_11 (Dense)            (None, 10)                90

 dense_12 (Dense)            (None, 1)                 11

=================================================================
Total params: 173
Trainable params: 173
Non-trainable params: 0
_________________________________________________________________

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/mill(1).csv')

In [ ]:
# df = pd.read_csv('/content/mill(1).csv')

In [ ]:
df_x = df.iloc[:,:-1]
df_y = df.iloc[:,-1]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
ns = MinMaxScaler()
ns.fit(df_x)

MinMaxScaler()

In [ ]:
df_x_ns = ns.transform(df_x)
data = pd.DataFrame(df_x_ns)
data.columns=['YV','FM','PHIW','TSS','TS','TRS','PH','WFH']
df_x_ns_d =data

In [ ]:
df_x_ns_d

,YV,FM,PHIW,TSS,TS,TRS,PH,WFH
0,0.444444,0.379310,0.277778,0.666667,0.916667,0.498599,0.015873,0.113208
1,0.722222,0.372414,0.666667,0.555556,0.833333,0.694678,0.000000,1.000000
2,0.000000,0.337931,1.000000,0.111111,0.500000,0.750700,0.000000,0.132075
3,1.000000,0.324138,0.555556,0.000000,0.416667,0.778711,0.023810,0.113208
4,0.416667,0.358621,0.444444,0.555556,0.916667,0.834734,0.095238,0.169811
...,...,...,...,...,...,...,...,...
95,0.666667,0.248276,0.583333,0.944444,0.375000,0.476190,0.333333,0.113208
96,0.638889,0.227586,0.555556,0.888889,0.333333,0.504202,0.380952,0.127358
97,0.611111,0.206897,0.527778,0.833333,0.291667,0.490196,0.428571,0.141509
98,0.583333,0.186207,0.500000,0.777778,0.250000,0.476190,0.476190,0.132075
99,0.555556,0.165517,0.472222,0.722222,0.208333,0.462185,0.523810,0.122642

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x_ns_d,df_y, test_size = .2, random_state = 103)

In [ ]:
y_pred = new_model.predict(x_test)
ytrain_pred = new_model.predict(x_train)

1/1 [==============================] - 0s 350ms/step
3/3 [==============================] - 0s 4ms/step

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(y_train,ytrain_pred))
print(r2_score(y_test,y_pred))

0.8911184750444207
0.9114927408868371

In [ ]:
def minmax(x,x_min,x_max):
  x_nor = (x-x_min)/(x_max-x_min)
  return x_nor

In [ ]:
col = []
for i in range(len(df_x.columns)):
  col.append(df_x.columns[i])

In [ ]:
df_max = []
df_min = []
for i in (col):
  df_max.append(df_x[i].max())
  df_min.append(df_x[i].min())

In [ ]:
x_exp_nn = {'Yeast vessels(x10^8)': 2.61,
 'Pre fermenters': 1.36,
 'Fermenters': 4.6,
 'TSS of fermented wash before decanter': 16000,
 'TSS of clarified wash after decanter': 8400,
 'TRS of molasses received for process':59.52,
 'Fermentation water pH': 6.32, 
 'Fermentation water hardness': 108}

In [ ]:
x = []
for i in col:
  x.append(x_exp_nn.get(i))

In [ ]:
x_exp = []
for i in range(len(x)):
  # print('x is {}, min is {}, max is {}, i is {} '.format(x[i],df_min[i],df_max[i],i))
  x_exp.append(minmax(x[i],df_min[i],df_max[i]))

In [ ]:
x_exp = dict(zip(col,x_exp))

In [ ]:
x_exp = pd.DataFrame(x_exp, index = [0])
y_exp_pred = new_model.predict(x_exp)
y_exp_pred

1/1 [==============================] - 0s 16ms/step

array([[11.430708]], dtype=float32)

In [ ]:
type(x_exp)

pandas.core.frame.DataFrame